#button-message {
    width: 10%;
    height: auto;
    background-image: url(../img/sendbutton.svg) no-repeat;
    margin: 0;
}

.modal-button-chat-off {
    background-image: url(../img/cancel.svg) no-repeat;
    height: 45px;
    width: 45px;
    border-radius: 2pc;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    margin-left: 80%;
    margin-top: 10%;
    border-radius: 2pc;
}

.modal-button-chat-off-mini {
    background-image: url(../img/cancel.svg) no-repeat;
    height: 20px;
    border-radius: 2pc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    /* align-self: flex-end; */
    position: absolute;
    top: 0;
    right: 0;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 7%;
    margin-top: 5%;
}

.chat-conteiner {
    display: none;
    flex-direction: column;
    max-height: 1150px;
    height: 1150px;
    background: aqua;
    width: 1050px;
    border: solid orange;
    position: absolute;
}

.chat-window-header {
    font-size: 20px;
    text-align: initial;
    font-weight: 600;
    align-self: flex-start;
    flex-grow: 1;
    margin: 0;
    color: #ff00bb;
    font-family: Acme, sans-serif;
    margin-left: 3px;
    margin-top: 2px;
}

.chat-window-log p {
    border-radius: 1.15rem;
    line-height: 1;
    padding: .3rem .5rem;
    position: relative;
    word-wrap: break-word;
    font-size: small;
    white-space: normal;
    margin: 1px;
    overflow-x: auto;
    background-color: green;
}

#input-message {
    width: 90%;
}

#input-and-button {
    background-color: coral;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.buttom-text-input {
    width: 5%;
    margin-top: 7px;
    background: url(../img/sendbutton.svg) repeat-x;
    margin-right: 3%;
}

.barra-navegacion {
    display: flex;
    height: 5%;
    background-color: rgb(0, 255, 55);
}

.chat-window-column {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: 95%;
    background-color: red;
    padding: 0;
    border: 3px solid violet;
}

#Interfaz.chat-widget {
    position: absolute;
    right: 0;
    margin-right: 2.5%;
    bottom: 0;
    margin-bottom: 780px;
}

.btn_close {
    display: none;
    position: relative;
    margin-left: 80%;
}

#form-mini-chat {
    margin: 0;
}

.chat-window-log {
    justify-content: initial;
    flex-grow: 1;
    max-height: 90%;
    overflow-y: scroll;
    background-color: #f6ff00;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    font-family: SanFrancisco;
    font-size: 1rem;
    max-width: 100%;
    padding: .5rem 1.5rem;
    width: 97%;
    position: relative;
}

.from-me {
    border-radius: 1.15rem;
    width: 80%;
    position: relative;
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff;
    margin: 2.5px;
}

#form-send-text {
    width: 98%;
    height: 100%;
    background-color: burlywood;
}

.from-them>p {
    padding-right: 0
}

.from-them {
    border-radius: 1.15rem;
    width: 80%;
    position: relative;
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    margin: 2.5px;
}

.modal-button-chat {
    background-image: url(../img/chatbot-icon.svg);
    height: 45px;
    width: 45px;
    border-radius: 2pc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    background-repeat: no-repeat;
}