.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--black-tertiary-solid);
    color: var(--white-primary-solid);
    padding: 30px 100px;
    font-family: 'Red Hat Display', sans-serif;
}

.footer_first_section{
    display: flex;
    justify-content: space-between;
}

.footer_first_section_right{
    display: flex;
}

.footer_reinventar_logo{
    width: 140px;
    height: 30px;
    margin-right: 25px;
    align-self: center;
}

.footer_list{
    padding-left: 25px;
    border-left: 1px solid white;
    display: flex;
}

.footer_list_item{
    list-style: none;
    align-self: center;
    padding: 0px 15px 0px 0px;
}

.footer_list_anchor{
    text-decoration: none;
}

.footer_list_item:hover{
    background-color: transparent;
}

.footer_list_text{
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--white-primary-solid);
    cursor: pointer;
}

.footer_list_anchor:hover{
    text-decoration: none;
}

.footer_social_media{
    display: flex;
}

.footer_social_media_anchor{
    align-self: center;
    padding: 0px 10px;
}

.footer_social_media_logo{
    width: 27px;
    height: 27px;
}

.footer_social_media_logo_wa{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.footer_separator{
    border-bottom: 1px solid var(--white-primary-transparent);
    width: 100%;
    height: 1px;
}

.footer_second_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_copyright{
    font-family: Red Hat Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.footer_credits{
    font-family: Red Hat Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.footer_intelifaz{
    display: flex;
}

.footer_intelifaz_anchor{
    height: 20px;
    align-self: center;
    padding-left: 5px;
    margin-bottom: 5px;
}

.footer_intelifaz_logo{
    height: 20px;
    width: 75px;
}

@media only screen and (max-width: 600px) {
    .footer{
        height: 100%;
        width: 80%;
        padding: 5% 10%;
    }
    .footer_first_section{
        flex-direction: column;
    }
    .footer_first_section_right{
        flex-direction: column;
    }
    .footer_reinventar_logo{
        margin-right: 0px;
        margin-top: 15px;
    }
    .footer_list{
        display: inline-block;
        border: 0px;    
        padding: 10px 0px;
    }
    .footer_second_section{
        flex-direction: column-reverse;
    }
    .footer_copyright{
        text-align: center;
    }
}